.text{
	width: 85%;
	height: 230px;
	background: #aaf;
	margin: 0 auto;
}
.text1{
	width: 60%;
	height: 100%;
	/*background: grey;*/
	padding-top: 20px;
	float: left;

}
a{
	margin-left: 90px;
	color: blue;
	text-decoration: none;
	font-size: 30px;
}
a:hover{
	color: grey;
}
p{
	margin-left: 90px;
	padding-top: 10px;
	color: white;
}
.learnmore{
	width: 80px;
	height: 28px;
	background: yellow;
	margin: 20px 90px;
	border-radius: 5px;
	padding-top: 5px;
	text-align: center;
}
.learnmore:hover{
	background: grey;
}
.learnmore a{
	margin: 5px;
	font-size: 15px;
	color: blue;
	padding: 0.2rem 0;
	text-decoration: none;
}
.img{
	width: 40%;
	height: 100%;
	/*background: grey;*/
	padding-top: 20px;
	float: left;
}
img{
	width: 40%;
	height: 65%;
	margin: 20px 100px;
}